<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="80818e89-09ff-4550-9b70-91875f4ce98b"
            Publisher="CN=tuann"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="80818e89-09ff-4550-9b70-91875f4ce98b" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SSHManagerServer.WindowsPhone</DisplayName>
    <PublisherDisplayName>tuann</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SSHManagerServer.WindowsPhone.App">
        <m3:VisualElements
            DisplayName="SSHManagerServer.WindowsPhone"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="SSHManagerServer.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Assets\SplashScreen.png"/>
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>